<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.androidgames.ch04androidbasics">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LifeCycleTest" android:label="Life Cycle Test"
        android:configChanges="keyboard|keyboardHidden|orientation">
    </activity>
        <activity android:name=".SingleTouchTest" android:label="Single Touch Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".MultiTouchTest" android:label="Multi Touch Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".KeyTest" android:label="Key Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".AccelerometerTest" android:label="Accelerometer Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".AssetsTest" android:label="Assets Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".ExternalStorageTest" android:label="External Storage Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".SoundPoolTest" android:label="Soundpool Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".FullScreenTest" android:label="Fullscreen Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".RenderViewTest" android:label="Render View Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".ShapeTest" android:label="Shape Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".BitmapTest" android:label="Bitmap Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".SurfaceViewTest" android:label="Surfaceview Test"
            android:configChanges="keyboard|keyboardHidden|orientation">

        </activity>
        <activity android:name=".AndroidBasicsStarter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>